html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0rem;
  height: 0.3125rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 0.625rem;
  height: 12.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

@media screen and (max-width: 900px) {
  .category-btn {
    margin: 0.625rem;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
}
